@import '../Mixin.scss';

.ProjectDetail { width: 100%; background: #fdfdfd;
    .detail_wrap { @include flexColumnCenter(); position: relative; width: 100%;
        .detail_top_wrap { display: flex; flex-direction: column; align-items: center;
            .detail_ham_btn { position: absolute; top: 45px; right: 12%; width: 30px; height: 25px;
                .animate_cursor { width: 30px; height: 25px;
                    span { position: absolute; width: 100%; height: 3px; background: #383838; transition: .3s;
                        &:nth-child(1) { left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(-22.5deg); }
                        &:nth-child(2) { left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(22.5deg);; }
                    }
                }
            }
            .detail_type_text { width: 200px; margin-top: 50px; padding-top: 25px; border-top: 1px solid #383838; font-size: 14px; font-weight: 500; text-align: center; }
            .detail_title { padding-top: 10px; font-size: 32px; font-weight: 900; }
            .detail_link_wrap { display: flex; align-items: center; padding-top: 15px;
                .detail_link_item { width: 100px; text-align: center; font-weight: 500; border: 1px solid #383838; border-radius: 999px; margin: 0 10px; }
            }
        }
        .detail_middle_wrap { @include flexColumnCenter(); width: 100%;
            .detail_Description { width: 60%; padding-top: 30px; text-align: center; font-size: 14px; line-height: 130%; }
            .project_skill_wrap { display: flex; flex-wrap: wrap; justify-content: center; width: 80%; margin: 10px auto 10px;
                .project_skill { margin: 5px;
                    .project_skill_bg { @include project_skill_bg(); background: #383838; color: #fdfdfd; }
                }
            }
        }
        .detail_bottom_wrap { @include flexColumnCenter(); width: 100%;
            .detail_bottom_image { width: 60%; padding-bottom: 30%; }
            .detail_bottom_text { display: flex; flex-wrap: wrap; justify-content: center; width: 90%; margin-top: 10px;
                div { margin: 0 5px; padding: 7px 15px; border-radius: 999px; background: #383838; color: #fdfdfd; font-size: 12px; }
            }
        }
    }
}


@media all and (max-width:1280px){
    .ProjectDetail .detail_wrap {
        .detail_middle_wrap .detail_Description { width: 70%; }
        .detail_bottom_wrap .detail_bottom_image { width: 70%; padding-bottom: 40%; }
    }
}

@media all and (max-width:1024px){
    .ProjectDetail .detail_wrap .detail_bottom_wrap .detail_bottom_image { width: 70%; padding-bottom: 48%; }
}

@media all and (max-width:768px){
    .ProjectDetail .detail_wrap {
        .detail_middle_wrap .detail_Description { width: 80%; }
        .detail_bottom_wrap .detail_bottom_image { width: 80%; padding-bottom: 50%; }
    }
}

@media all and (max-width:480px){
    .ProjectDetail .detail_wrap {
        .detail_middle_wrap .detail_Description { width: 90%; }
        .detail_bottom_wrap .detail_bottom_image { width: 90%; padding-bottom: 60%; }
    }
}