@import '../Include.scss';

.ProjectDetail { width: 100%; background: #fdfdfd;
    .detail_wrap { display: flex; flex-direction: column; align-items: center; position: relative; width: 100%;
        .detail_top_wrap { display: flex; flex-direction: column; align-items: center;
            .detail_ham_btn { position: absolute; top: 45px; right: 12%; width: 30px; height: 25px;
                .animate_cursor { width: 30px; height: 25px;
                    span { position: absolute; width: 100%; height: 3px; background: #383838; transition: .3s;
                        &:nth-child(1) { left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(-22.5deg); }
                        &:nth-child(2) { left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(22.5deg);; }
                    }
                }
            }
            .detail_type_text { width: 200px; margin-top: 100px; padding-top: 25px; border-top: 1px solid #383838; font-size: 14px; font-weight: 500; text-align: center; }
            .detail_title { padding-top: 10px; font-size: 32px; font-weight: 900; }
            .detail_link_wrap { display: flex; align-items: center; padding-top: 15px;
                .detail_link_item { width: 100px; text-align: center; font-weight: 500; border: 1px solid #383838; border-radius: 999px; margin: 0 10px; }
            }
        }
        .detail_middle_wrap { display: flex; flex-direction: column; align-items: center; width: 100%;
            .detail_Description { width: 60%; padding-top: 20px; text-align: center; font-size: 14px; }
            .project_skill_wrap { display: flex; flex-wrap: wrap; justify-content: center; width: 95%; margin: 20px auto 0;
                .project_skill { margin: 5px;
                    .project_skill_bg { @include project_skill_bg(); background: #383838; color: #fdfdfd; }
                }
            }
        }
    }
}